* {
    font-family: Arial, Helvetica, sans-serif;
}
input {
    padding: 3px;
    box-shadow: 3px 3px 5px gray ;
    font-size: large;
    font-weight: 600;
    width: 300px;
}
label {
    color: #B4886B;
    font-weight: bold;
    display: block;
    label :after {content: ":"}
}
#button {
padding: 10px;
border: 1px solid gray;
background-color: #B4886B;
border-radius: 5px;
font: inherit;
}
#button :focus {
    outline: 2px solid gray;
    font-weight: bold;
    color: white;
}
#button:hover {
background-color: orange;
box-shadow: 3px 3px 5px grey;
}




